/*Bootstrap Specific Styles */
 .col-md-4 > ul {
  list-style-type: none;
  padding: 0px;
}

/* General Styles */
/* Feature below is for smooth scrolling. Courtesy of CSS-Tricks https://css-tricks.com/snippets/jquery/smooth-scrolling/ */
html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 36px;
  margin: 10px;
}

/* Anchor Tag Styles */
a {
  color: black;
  /* color: #375c96; */
  /* color: #3c3c95; */
  /* color: #37b289; */
}

.site-link {
 font-weight: bold;
 color: #375c96;;
}

.site-link:hover {
  text-decoration: none;
  color: #00749b;
}

p.about-paragraph {
  display: none;
  padding-top: 20px;
}

.about-anchor {
  color: white;
  font-size: 44px;
}

.about-anchor:hover {
  color: #00749b;
}

/* Anchor Tag Styles end */

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

hr.divider {
  width: 60%;
  height: 1px;
  /* Fallbacks for CSS. Source: https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element */
  border-color: #DCDCDC;
  background-color: #DCDCDC;
  /* margin: 0px 10px 0px 10px; */
  /* display: none; */
  margin-top: 60px;
  margin-bottom: 40px;
  margin: 0 auto;
}

header {
  padding-top: 30px;
}

div.container-fluid {
  padding: 10px 0px 30px 0px;
  /* background-color: #b0d4e8; */
  /* background-color: #003399; */
  /* color: white; */
}

.content > * {
 text-align: center;
}

.myself {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid white;
}

.description-container {
  height: 200px;
}

.my-name {
  /* Tied to jQuery Fade In */
  display: none;
  font-size: 36px;
}

ul.specialty-list {
  /* Tied to jQuery Fade In */
  margin: 10px;
  padding: 10px;
  display: none;
}

li.my-specialty {
  /* tied to Jquery fade in */
  display: inline-block;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
}

.glyphicon-envelope {
  top: 4px;
}

.glyphicon-globe {
  top: 3px;
}

.contact-link {
  color: #ffffff;
}

.contact-link:hover {
  color: white;
}

span.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  /* background-color: #375c96; */
  border-radius: 50%;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  
}

.my-title {
  /* tied to jQuery fade in */
  display: none;
  font-size: 24px;
  font-weight: normal;
  padding: 20px;
}

.motivator {
  color: #fff;
}

/*Fixed anchor link that returns users to the top of the page. It appears when they start scrolling down  and disappears at when user is at the top. */
.fixed-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #375c96;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.fixed-top:hover {
  opacity: 1;
}

/* Nav item styles start here */

/* Change navbar-header class to change the navbar color */
.navbar-header {
  background-color: #fff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-brand {
  color: black;
  padding-right: 80px;
  margin-right: -240px;
}

.nav-item {
  font-size: 18px;
}

.navbar-btn {
  height: 36px;
  width: 80px;
  margin-left: 10px;
  padding: 0px;
}

/* Nav Styles end here */


/* Links to sections of main page with heights so that content appears correctly */

#about, #skills, #portfolio, #experience, #contact {
  height: 40px;
}

/* Styles for social media article element */

/* New Social Menu Styles */
ul.social-menu {
  /* margin-top: 120px; */
  padding: 0px;
  display: none;
}

ul.social-menu > li.social-menu-items {
  display: inline-block;
  margin: 20px;
  padding: 13px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* border: 1px solid black; */
  /* background-color: #add8e6 */
  /* background-color: #00749b; */
  background-color: #375c96;
  /* margin: 0px 0px 0px 0px; */
}

ul.social-menu > li.social-menu-items > a > * {
  font-size: 34px;
  color: white;
  /* color: #375c96; */
  /* color: #1b3c47; */
}

ul.social-menu > li.social-menu-items:hover {
  background-color: #00749b;
  cursor: pointer;
  /* background-color: #375c96; */
  /* background-color: #add8e6 */
  /* height: 62px;
  width: 62px; */
  /* padding: 14px; */
  /* font-weight: bold; */
}

/* Styles for Skills and technologies start here */

article.flex-container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

div.technology-icon-container {
  height: 220px;
  width: 220px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  margin: 0px 20px 0px 20px;
  padding: 20px;
  /* background: #00749b; */
  /* background: #add8e6; */
}

img.technology-icon {
  height: auto;
  width: auto;
  max-height: 160px;
  max-width: 160px;
}

p.technology-name {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.skill-icon {
  font-size: 50px;
  padding: 24px;
}

.skill-item {
  font-size: 24px;
  padding: 14px;
}

/* Skills and technologies styles ends here */

/* New social styles end here */


/* Controls size of social media icons */
.fab {
  font-size: 24px;
  /* font-weight: normal; */
}

ul.social-icons > li {
  /* display: inline-block; */
  padding-top: 10px;
}

/* Social Media Ends */

/* Porfolio Section CSS */

article.portfolio-article {
margin-left: 0px;
margin-right: 0px;
}

.project-item {
  background-color: white;
  /* height: 620px; */
  /* width: 360px; */
  color: black;
  border-radius: 10px;
  margin: 26px;
  padding: 30px;
}

.project-item > p {
  font-size: 18px;
}

.project-img {
  height: 200px;
  width: 280px;
  -moz-box-shadow: 3px 3px 4px 3px #ccc;
  -webkit-box-shadow: 3px 3px 4px 3px #ccc;
  box-shadow: 3px 3px 4px 3px #ccc;
}

.project-img-container {
    display: flex;
    justify-content: center;
}

/*CSS for sections that divide content */

nav {
  text-align: center;
  /* height: 50px;
  border: 1px solid lemonchiffon;
  margin: 0px 0px 10px 0px;
  padding: 0px; */
}

/*Changing navbar-default background-color to white*/

.navbar-default {
  background-color: #fff;
}

.intro {
  text-align: center;
  background-color: #2B3856;
  color: white;
  height: 700px;
  /* border: 1px solid blue; */
  /* margin: 0px 0px 10px 0px; */
  padding: 40px 0px 40px 0px;
}

.skills2paybills {
  /* border: 1px solid yellow; */
  /* background: #353839; */
  /* border-top: 1px solid #F0F0F0; */
  padding: 10px 0px 0px 0px;
}


section.portfolio {
  /* border: 1px solid rgb(0, 213, 192); */
  /* border-top: 1px solid #F0F0F0; */
  padding: 40px 0px 40px 0px;
  text-align: center;
  background-color: #2B3856;
  color: white;
}

.experience {
  /* border: 1px solid green; */
  /* background: #353839; */
  /* border-top: 1px solid #F0F0F0; */
  padding: 0px 0px 0px 0px;
  text-align: center;
}

footer {
  /* border: 1px solid purple; */
  /* border-top: 1px solid #F0F0F0; */
  background-color: #2B3856;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: white;
}

/* Section styles end here */


/* Style for portfolio items */
.port-item > p {
  text-align: center;
}

.notify-icon {
  font-size: 24px;
}

.notify {
  color: #b30000;
  /* font-weight: bold; */
}

.micro {
  padding: 6px;
  font-size: 14px;
}

.micro > p {
  /* font-weight: bold; */
  margin: 4px 0px 4px 0px;
}

.micro > p > a {
  color: #375c96;
  font-weight: bold;
}

.micro > p > a:hover {
  text-decoration: none;
  color: #00749b;
}

.about-text {
  /* color: teal; */
  font-size: 20px;
  padding: 10px 56px 10px 56px;
}

/* Skills and Tools section */
.skills {
  text-align: center;
}

.skill-container {
  /* border: 1px solid black; */
  height: 500px;
  /* border-radius: 10px; */
  display: none;
}

.skill-list > li {
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
}

/* Skills and Tools ends here */
/* Portfolio styles */

div.thumbnail {
  border: none;
}
h3.project-title {
  padding-bottom: 10px;
}

div.presentation {
  display: flex;
  justify-content: center;
}

.presentation-icon {
  font-size: 40px;
}

.presentation-item {
  margin: 10px 30px 10px 30px;
}

p.presentation-item > a:hover {
  /* color: #00749b; */
  cursor: pointer;
}

hr.project-divider {
  /* height: 1px; */
  width: 70%;
  /* Fallbacks for CSS. Source: https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element */
  border-color: #DCDCDC;
  background-color: #DCDCDC;
  padding: 0;
}

a.project-link:hover {
  text-decoration: none;
}

.tool-header {
  font-size: 20px;
  margin-top: 10px;
}

.tool-list {
  margin-top: 2px;
}

.tool-item {
  display: inline-block;
  /* width: 120px; */
  height: 30px;
  margin: 0px 4px 0px 4px;
  font-size: 16px;
  /* border-radius: 5px; */
}

/* Portfolio styles end here */


/* Experience element styles start*/
.experience > div > ul {
  width: 80%;
  padding: 0px 0px 20px 0px;
  margin: 0 auto;
  margin-top: 40px;
}

/* For relevant work experience section */
ul.list-group > li {
  margin-bottom: 30px;
}

ul.list-group > li.work {
  /* height: auto; */
  border: 3px solid #375c96;
  padding: 22px;
  border-radius: 20px;
}

ul.list-group > li > p.work-title {
  font-size: 20px;
  font-weight: bold;
}

ul.list-group > li > p.work-title > a {
  color: #375c96;
}

ul.list-group > li > p.work-title > a:hover {
  text-decoration: none;
  color: #00749b;
}


/* Styles for content for each position */
.date {
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.work-description {
  font-size: 18px;
  padding: 0px 110px 0px 110px;
}

.company {
  font-size: 19px;
}

.work-skill-header {
  margin-top: 10px;
  font-size: 18px;
}

ul.work-items-list {
  padding: 0px;
  margin: 10px;
}

ul.work-items-list > li:not(:first-child) {
  border-left: 1px solid black;
}

li.work-items {
  display: inline-block;
  font-size: 16px;
  padding: 0px 10px 0px 10px;
}

/* Experience element styles end here */

/* Copyright Style */
.copyright {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

/* CSS for User interaction */
li.nav-item:hover {
  /* border: .25px solid #D3D3D3; */
  /* background: #E8E8E8 */
  /* padding: 0px; */
  font-weight: bold;
  font-size: 17px;
}

/* Boostrap Media Query Details
Small devices (tablets, 768px and up)

Medium devices (desktops, 992px and up)
Note: Hamburger menu appears below 992px

Large devices (large desktops, 1200px and up)
*/

/* Size Changes
- check padding for in the following places:
*/

@media(max-width: 1160px) and (min-width: 992px) {
  .project-img {
    width: 200px;
    padding-right: 10px;
  }

  ul.social-menu {
    margin: 0px;
  }
}

@media(max-width: 1260px) and (min-width: 1161px) {
  .project-img {
    width: 260px;
  }
}

/* For width up to 992px */
@media (max-width: 992px) {

  ul.specialty-list > li:first-of-type {
    margin-bottom: 20px;
  }

  ul.social-menu {
    margin-top: 120px;
  }

  article.row {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 0px;

  }

  /* Styles for mobile view technology icon container go here */

  article.flex-container {
    flex-direction: column;
    align-items: center;
  }

  div.technology-icon-container {
    height: 180px;
    width: 180px;
    border: 1px solid #D3D3D3;
    margin: 10px 0px 10px 0px;
    padding: 20px;
  }
  
  img.technology-icon {
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 120px;
  }


  /* Styles for mobile view technology icon container end */

  .skill-list > li {
    padding: 0px 10px 0px 10px;
  }

  .port-item {
    margin-top: 40px;
  }

  .description-container {
    height: 100px;
  }

  .work-description {
    padding: 0px 14px 0px 14px;
  }
}
/* For views between 992 and 1200px*/
@media (max-width: 992px) and (min-width:768px)  {
  .navbar-brand {
    margin-right: -140px;
  }

}

/* Custom media query for social icons */
@media (max-width: 600px ) {
  ul.social-icons > li {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 20px 0px 20px 0px;
  }

  .about-text {
    padding: 0px 28px 10px 28px;
    font-size: 20px;
  }

  .sub-header {
    padding: 0px 20px 0px 20px;
  }

  .myself {
    width: 160px;
    height: 160px;
    padding: 0px;
  }

  .description-container {
    height: 150px;
  }

  ul.social-menu {
    padding-top: 22px;
  }

  

  ul.social-icons > li {
    padding-top: 40px;
  }

  .input-group > input {
    width: 300px;
    height: 42px;
  }

  textarea {
    height: 200px;
    width: 300px;
    margin-bottom: 20px;
  }

  hr.divider {
    /* display: none; */
    width: 80%;
  }

  .fab {
    font-size: 26px;
  }

  .project-img {
    height: 160px;
    width: 240px;
  }

  ul.work-items-list > li:not(:first-child) {
    border: none;
  }

  ul.work-items-list > li {
    padding: 2px;
    /* margin: 0px; */
  }
}
